{% extends "base.html.twig" %}

{% block title %}
        {{parent()}} Planning
{% endblock %}


{% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href=" {{asset('css/calendar.css')}} ">
{% endblock %}





{% block body %}
        <div id="calendrier"></div>




{% endblock %}


{% block script %}
{{parent()}}
<script>
window.onload = () => {
    let calendarElt = document.querySelector('#calendrier');

    let calendar = new FullCalendar.Calendar(calendarElt, {
        initialView: 'dayGridMonth',
        locale: 'fr',
        timeZone: 'Europe/Paris',
        selectable: true,
        headerToolbar : {
            start : 'prev',
            center : 'title',
            end : 'next'
        },
        events: {{ data|raw }},
        contentHeight: 600
    });
    calendar.render();
}
</script>
{% endblock %}