{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href=" {{asset('css/registration.css')}} ">
{% endblock %}
{% block title %}S'enregistrer{% endblock %}

{% block body %}

<section class='log_menu'>
<h1 class='logTitle'>S'inscrire</h1>

<div class='block-log'>   

{{form_start(inscription)}}
    
    <div class='profil'>
        <h2>Vos cordonnées</h2>
        <div>
            {{ form_label(inscription.nom) }}
            {{ form_widget(inscription.nom) }}

            {{ form_label(inscription.prenom) }}
            {{ form_widget(inscription.prenom) }}

            {{ form_label(inscription.genre) }}
            {{ form_widget(inscription.genre) }}
        
            {{ form_label(inscription.date_de_naissance) }}
            {{ form_widget(inscription.date_de_naissance) }}
        </div>
        <div>
            {{ form_label(inscription.photo) }}
            {{ form_widget(inscription.photo) }}
        </div>
    </div>
    <div class="logInfo">
        <h2>Vos identifiants</h2>
        {{ form_label(inscription.email) }}
        {{ form_widget(inscription.email) }}

        {{ form_label(inscription.mot_de_passe) }}
        {{ form_widget(inscription.mot_de_passe) }}
    </div>
    <div class="home">
        <h2>Informations complémentaires</h2>
        {{ form_label(inscription.pays) }}
        {{ form_widget(inscription.pays) }}
    
        {{ form_label(inscription.ville) }}
        {{ form_widget(inscription.ville) }}

        {{ form_label(inscription.code_postal) }}
        {{ form_widget(inscription.code_postal) }}

        {{ form_label(inscription.adresse) }}
        {{ form_widget(inscription.adresse) }}
    </div>



    <div class='btn-sub'>
        <button type='submit' class='submitRegist'> S'enregistrer </button>
    </div>
{{form_end(inscription)}}


</div>
</section>

{% endblock %}