{% extends "base.html.twig" %}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <h1> Votre Profil </h1>
    <h2> {{app.user.name}} Bonjour !</h2>

        <section>
        <div>
            {{app.user.name}}
            {{app.user.firstname}}
            {{app.user.email}}       
        </div>
        <div>
            {{app.user.country}}
            {{app.user.city}}
            {{app.user.postalCode}}
        </div>
        
        
        </section>

{% endblock %}

