<header>
    
       <nav>
            <a href=" {{asset('/')}} "><img class='logo' src=" {{ asset('pictures/LOGO_J.png') }} "></a>   
            <div class='nav-list'>
                    <ul class='nav-content'>
                        <li>    
                        
                        <a class='nav-elem' href=" {{path('homepage')}} ">
                        <i class="fa-solid fa-house pr-5">
                        </i>Homepage</a>    
                        
                        </li>

                        <li class='p-20'>   
                        
                        <a class='nav-elem' href=" {{path('planning')}} ">
                        <i class="fa-solid fa-calendar pr-5"></i> 
                        Planning</a>    
                        
                        </li>

                        <li class='p-20'>   
                        
                        <a class='nav-elem' href=" {{path('actuality')}} ">
                        <i class="fa-solid fa-book-open pr-5"></i>
                        Actualité</a>   
                        </li>
                    </ul>
            </div>
            <div class="log-reg">
                    <button class="nav-button">
                    <a href="{{path("register")}} ">Inscription</a>
                    </button>
                    <button class="nav-button">
                    <a href=" {{path("login")}} ">Connexion</a>
                    </button>
            </div>
       </nav>
</header>