{% extends 'base.html.twig' %}

{% block title %}Planning index{% endblock %}

{% block body %}
    <h1>Planning index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Description</th>
                <th>All_day</th>
                <th>Background_color</th>
                <th>Border_color</th>
                <th>Text_color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.id }}</td>
                <td>{{ planning.title }}</td>
                <td>{{ planning.debut ? planning.debut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ planning.fin ? planning.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ planning.description }}</td>
                <td>{{ planning.allDay ? 'Yes' : 'No' }}</td>
                <td>{{ planning.backgroundColor }}</td>
                <td>{{ planning.borderColor }}</td>
                <td>{{ planning.textColor }}</td>
                <td>
                    <a href="{{ path('app_planning_show', {'id': planning.id}) }}">show</a>
                    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planning_new') }}">Create new</a>
{% endblock %}
