<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title> 
      Braganza Boxing Camp |
      {% block title %}
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    
    <script defer src="{{ asset('js/script.js') }}"></script>
    <script defer src="https://kit.fontawesome.com/48ac769759.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js" integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
    
     <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>

  {% block navBar %}
    {% include 'partials/_header.html.twig' %}
  {% endblock %}

{% block extraNavBar %}{% endblock %}
        
       <section class='main-block'>
          {% block body %}

          <main class='block'>

             <section class='motivation-content'>
                <div class='motivation-text ft-40'>Courage</div>
                <div class='motivation-text ft-40'>Combativité</div>
                <div class='motivation-text ft-40'>Percévérance</div>
                <div class='motivation-text ft-40'>Humilité</div>
             </section>
             
            <section class='motivation-content'>
                <h1>Présentation</h1>
                    <div class='motivation-text'>
                        <p> 
                        Passionné par la boxe depuis mon adolécense, j'ai effectué mes premiers combats junior en 2009 où j'ai pu prendre la troisième marche du podium des championnats de France Pré-Combats.
                        Cela fut le début d'une grande aventure où j'ai pu participé au Ceinture Montana, devenir Champion de France Amateur en 2014, 
                        vice Champion de France en 2015, faire plusieur déplacements à l'étranger avec l'Equipe de France.
                        </p>
                        <p>
                        Mais suite à une blessure à l'oeil, j'ai pris la décision d'arrêté la boxe pour des raisons de santé. <p> Le combat continuera ailleurs mais toujours. </p>                
                        </p>

                        <p>
                        
                        </p>
                    </div>
                   
                    <div class='motivation-text'>         
                    <p> 
                        Aujourd'hui diplômé d'un DEJEPS et devenu coach sportif spécialisé dans la boxe anglaise. J'enseigne dans différente structures et pour tous les niveaux.
                        Mon objectif étant de partager mes connaissances techniques, tactiques, physiques afin de vous faire progrésser à travers un suivis rigoureux et continue.    
                    </p>       
                    </div>

                  
            </section>




             <section class='block-pics'>
                 
                
                
                <div>
                <img src="{{asset('pictures/JM_cross.jpg')}}"  alt="Jm_home_pic" class='homePics'>
                </div>  

                <div>
                <img src="{{asset('pictures/JM_CFA_2015.jpg')}}"  alt="Jm_home_pic" class='homePics-d'>
                </div>  

                             
             </section>
          </main>
          {% endblock %}
          </section>
            {% for cat,list in app.flashes %}
                {% for message in list %}
                  <div class="flash flash-{{cat}}"> {{message}} </div>
                {% endfor %}
            {% endfor %}
        {% include 'partials/_footer.html.twig' %}




  </body>
</html>
