<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title> 
      Braganza Boxing Camp |
      {% block title %}
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    
    <script defer src="{{ asset('js/script.js') }}"></script>
    <script defer src="https://kit.fontawesome.com/48ac769759.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js" integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
    
     <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>

  {% block navBar %}
    {% include 'partials/_header.html.twig' %}
  {% endblock %}

{% block extraNavBar %}{% endblock %}
        
       
          {% block body %}

          <main class='block'>
             <section class='motivation-content'>
                <div class='motivation-text'>Courage</div>
                <div class='motivation-text'>Combativité</div>
                <div class='motivation-text'>Percévérance</div>
                <div class='motivation-text'>Humilité</div>
             </section>
             


            <section class='text-content'>
             
                <h1>Présentation</h1>
             

                  <article class='container'>
              
                    <div>
                        <h2>Qui-suis-je</h2>

                        <article>
                          <table>
                            <thead>
                              <tr>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                              <td>The table body</td>
                              <td>with two columns</td>
                              </tr>
                            </tbody>
                          </table>
                        </article>
                      

                     
                    </div>
                   
                    
                   
                    <div class='container'>
                      <h2></h2>


                    </div>
                    </article>

            
            
            </section>




             <section class='block-pics'>
                <div>
                <img src="{{asset('pictures/Jm_boxe.jpg')}}"  alt="Jm_home_pic" class='Jm_home_pic'>
                </div>
             </section>
          </main>
          {% endblock %}
          
            {% for cat,list in app.flashes %}
                {% for message in list %}
                  <div class="flash flash-{{cat}}"> {{message}} </div>
                {% endfor %}
            {% endfor %}
    {% include 'partials/_footer.html.twig' %}




  </body>
</html>
