<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title> 
      Braganza Boxing Camp |
      {% block title %}
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    
    <script defer src="{{ asset('js/script.js') }}"></script>
    <script defer src="https://kit.fontawesome.com/48ac769759.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js" integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
    
     <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
  {% block navBar %}
    {% include 'partials/_header.html.twig' %}
  {% endblock %}
{% block extraNavBar %}{% endblock %}
        
          {% block body %}
          <main class='block'>
             <section class='motivation-content'>
                <div class='motivation-text ft-40'>Courage</div>
                <div class='motivation-text ft-40'>Combativité</div>
                <div class='motivation-text ft-40'>Percévérance</div>
                <div class='motivation-text ft-40'>Humilité</div>
             </section>
             
            <section class='motivation-content'>
                <h1>Présentation</h1>
                    <div class='motivation-text'>
    
                      <p>  Ayant connu la boxe anglaise dit « Le Noble Art » à mon adolescence. Une passion est née et ma première année fut concluante :</p>
                      <p> -	2009 3eme place des championnats de France Précombat.</p>
                      <p> Cela fut le début de ma longue aventure dans le milieu du Noble Art ! </p>
                      <p> -	2013 Participation aux Ceintures Montana (Compétition regroupant plus de 10 pays) ou j’ai pu arriver en demi-finale face à des boxeurs expérimentés et j’en suis ressortis plus aguerris.</p>
                      <p> -	2014 Champion de France amateur senior catégorie -49kg</p>
                      <p> Suite à mon titre, j’ai pu intégrer l’Equipe de France ou j’ai effectué plusieurs combats l’étranger et rejoindre l’INSEP (L'Institut national du sport, de l'expertise et de la performance).</p>
                      <p> -	2015 Vice-Champion de France amateur senior catégorie -49kg</p>
                      <p> -	2016 Blessure au tendon d’Achille.</p>
                      <p> Après cette blessure j’ai pu effectuer quelques combats amateurs avant de passer PRO ou j’ai effectué mon premier combat en 2020.</p>
                      <p> Mais suite à une blessure que je traine depuis 2014 à l’œil (Ulcère) j’ai dû prendre la décision de mettre fin à ma carrière de boxeur pour me consacrer à ma nouvelle profession celle d’entraineur spécialité Boxe Anglaise.</p>
                      <p> -	2020 DEJEPS mention « boxe »</p>
                      <p> -	2021/2022 BTS nutritionniste </p>
                      <p> Aujourd'hui diplômé d'un DEJEPS et devenu coach sportif spécialisé dans la boxe anglaise. J'enseigne dans différente structures et pour tous les niveaux.
                        Mon objectif étant de partager mes connaissances techniques, tactiques, physiques afin de vous faire progrésser à travers un suivis rigoureux et continue.</p>

                    </div>          
            </section>
             <section class='block-pics'>   
                <div>
                <img src="{{asset('pictures/JM_cross.jpg')}}"  alt="Jm_home_pic" class='homePics'>
                </div>  

                <div>
                <img src="{{asset('pictures/JM_CFA_2015.jpg')}}"  alt="Jm_home_pic" class='homePics-d'>
                </div>                  
             </section>
          </main>
          {% endblock %}
            {% for cat,list in app.flashes %}
                {% for message in list %}
                  <div class="flash flash-{{cat}}"> {{message}} </div>
                {% endfor %}
            {% endfor %}
        {% include 'partials/_footer.html.twig' %}
  </body>
</html>
